# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
.idea
*.iml
# Package Files #
*.jar
*.war
*.ear
.idea/
crawler-twitter.iml

target/
